:root{
  --family: 'Roboto', sans-serif;
  --bg-color-container: rgba(10, 6, 20, 0.53);
  --btn-color-success: rgb(58, 230, 150);
  --btn-color-to:rgb(58, 118, 230);
}
html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--family), sans-serif;
  overflow-x: hidden;
}
body{
  margin: 0 .125rem;
  background-color: rgba(35, 12, 58, 1);
  display: grid;
}