.avatar-selection--container{
    position: relative;
    width: 90%;
    margin: 30vh auto;
    background-color: var(--bg-color-container) ;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem 0;
    color: white;
    max-width: 400px;
}
.avatar-selection--container h3{
    font-family: 'Pacifico', cursive;
    margin: 0;
}
.avatar-selection--body h5{
    margin: 0;
}
.avatar-selection--choose{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.avatar-selection--finalize{
    text-decoration: none;
    background-color: var(--btn-color-success);
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
    color: white;
}
.avatar-selection--icon{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.5rem;
    height: 1.5rem;
    padding: .25rem;
    background-color: rgb(228, 188, 10);
    border-radius: 50%;
    cursor: pointer;
}
.avatar-selected{
    z-index: 999;
    outline: .125rem solid var(--btn-color-success);
    outline-offset: 2px;
    border-radius: 50%;
}