.contact-container{
    min-width: 55px;
    max-width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-name{
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%;
}
.contact-name p {
    max-width: 100%;
    margin: 0;
    font-size: .75rem;
}
