.chat-page--container{
    position: relative;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .25rem;
    
}
.chat-page--container h1{
    position: absolute;
    top: 0;
    left: .25rem;
    color: white;
    font-style: italic;
    font-family: 'Pacifico', cursive;
}
.chat-page--add {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top:1rem;
    right: 1rem;
}
footer{
    position: fixed;
    bottom: 0;
    padding: 0 1rem;
    color: white;
    background-color: rgba(10, 6, 20, 0.53);
    border-radius: .5rem;
}